<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
</head>
<body>

    <h1>User Information</h1>

    ID: <%= id %>
    <br><br>

    First Name: <%= user.firstName %>
    <br><br>

    Last Name: <%= user.lastName %>
    <br><br>

    Gender: <%= user.gender %>
    <br><br>

    Age: <%= user.age %>

</body>
</html>